apache-airflow==1.10.4
GeoAlchemy2==0.6.3
geojson==2.4.1
ipython-sql==0.3.9
Jinja2==2.10
jupyter==1.0.0
pandas==0.24.2
peewee==3.9.5
psycopg2==2.8.2
requests==2.22.0
shapely==1.7a2
xlrd==1.2.0
https://github.com/MTES-MCT/data-preparation-plugin/archive/v0.1.4.tar.gz
https://github.com/MTES-MCT/bulk-geocoding-python-client/archive/v0.1.1.tar.gz